name: Deploy Live Infrastructure

on:
  push:
    branches: [main]
    tags: ["v*"]
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy (dev, stage, prod)"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - stage
          - prod

jobs:
  terraform:
    name: "Deploy: ${{ github.ref_name }}"
    # Enterprise Feature: Maps to GitHub Environments (e.g. 'prod' can have explicit approval rules)
    environment:
      name: ${{ (github.ref_type == 'tag') && 'prod' || (inputs.environment || 'dev') }}

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infrastructure-live

    env:
      # Logic:
      # 1. Manual trigger? Use input.
      # 2. Tag (v1.0)? Use 'prod'.
      # 3. Default/Branch detected? Use 'dev'.
      TF_ENV: ${{ inputs.environment || (startsWith(github.ref, 'refs/tags/') && 'prod') || 'dev' }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init
        run: terraform init

      - name: Select Workspace
        run: |
          terraform workspace select ${{ env.TF_ENV }} || terraform workspace new ${{ env.TF_ENV }}

      - name: Terraform Format Check
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -var-file="${{ env.TF_ENV }}.tfvars" -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
